<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Queen Attack</title>
    </head>
    <body>
        <h1>Queen Attack</h1>
        <form method="POST" action="/new">
            <input type="text" name="userQueenX" id="userQueenX" placeholder="Queen X">
            <input type="text" name="userQueenY" id="userQueenY" placeholder="Queen Y">
            <input type="text" name="userPawnX" id="userPawnX" placeholder="Pawn X">
            <input type="text" name="userPawnY" id="userPawnY" placeholder="Pawn Y">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
